################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__pycache__/customclasses.cpython-36.pyc
/.vs/step/v15
/__pycache__
/.vs
